Repository mimame/.dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, statix, rubocop

actionlint:
  name: actionlint
  language: system
  entry: actionlint

statix:
  name: statix
  language: system
  entry: statix fix
  pass_filenames: false

rubocop:
  name: rubocop
  language: system
  entry: rubocop
  require_serial: true

chore(nixos): enable fprintd by default in laptop profile, disable on narnia
  nixos/hosts/narnia/configuration.nix
  nixos/profiles/laptop.nix
Due: statix

refactor(nixos): move usbcore.autosuspend to host config where it belongs
  nixos/core/boot.nix
  nixos/hosts/narnia/configuration.nix
Due: statix

chore(nixos): disable fwupd on narnia
  nixos/hosts/narnia/configuration.nix
Due: statix

fix(nixos): disable mysql service by default
  nixos/programs/databases.nix
Due: statix

fix(nixos): disable plocate by default
  nixos/programs/services/default.nix
Due: statix

refactor(nixos): move avahi config from printers to networking
  nixos/hardware/networking.nix
  nixos/hardware/peripherals/printer.nix
Due: statix

feat(nixos): enable cups socket activation
  nixos/hardware/peripherals/printer.nix
Due: statix

fix(nixos): use mkDefault for fprintd and fwupd to allow host overrides
  nixos/core/firmware.nix
  nixos/profiles/laptop.nix
Due: statix

feat(zed): add opencode agent server configuration
  zed/settings.json
Due: none

feat(nixos): enable agent, preseed, socket activation, and distrobuilder
  nixos/hosts/narnia/configuration.nix
  nixos/programs/virtualisation.nix
Due: statix

feat(nixos): replace kubernetes + minikube with k3s for lightweight local clusters
  nixos/programs/virtualisation.nix
Due: statix

chore(nixos): remove redundant libguestfs package
  nixos/programs/virtualisation.nix
Due: statix

fix(nixos): use beamPackages.elixir and beamPackages.elixir-ls
  nixos/programs/languages/elixir.nix
Due: statix

feat(opencode): add brew mcp server to config
  opencode/opencode.jsonc
Due: none

fix(git): configure allowedSignersFile for SSH commit verification
  git/config
Due: none

refactor(helix): clean up keybindings and add missing editor config
  helix/config.toml
Due: none

docs(nixos): document incus webui access methods
  nixos/programs/virtualisation.nix
Due: statix

chore(julia): add SpecialFunctions dependency
  julia/environments/v1.12/Project.toml
Due: none

feat(opencode): add preserve_recent_tokens for compaction token safety
  opencode/opencode.jsonc
Due: none

fix(nixos): pin fish to stable to avoid 4.8.0 completion generator failure
  nixos/system/base.nix
  nixos/users/mimame/default.nix
Due: statix

feat(opencode): add default model config
  opencode/opencode.jsonc
Due: none

refactor(nixos): drop OPENCODE env vars in favor of opencode.jsonc
  nixos/programs/ai.nix
Due: statix

refactor(nixos/desktops): rename gnome_layer.nix to gnome-services.nix
  nixos/desktops/README
  nixos/desktops/default.nix
  nixos/desktops/gnome-services.nix
  nixos/desktops/gnome/default.nix
  opencode/opencode.jsonc
Due: statix

feat(zellij): add session keybindings, link plugin, and enable viewport serialization
  zellij/config.kdl
Due: none

feat(borgmatic): add comprehensive backup exclusions for caches, toolchains, and re-downloadable content
  borgmatic/config.yaml
Due: none

feat(nixos): add fish-lsp and just-lsp packages
  nixos/programs/languages/default.nix
  nixos/programs/languages/fish.nix
  nixos/programs/languages/just.nix
Due: statix

fix(nixos): remove duplicate kubectl bundled with k3s
  nixos/programs/virtualisation.nix
Due: statix

ci(github): fix commit range fallback for amended commits
  .github/workflows/ci.yml
Due: actionlint

fix(nixos): enable nix-index fish integration
  nixos/core/nix-config.nix
Due: statix

feat(nixos): auto-select btop-cuda when NVIDIA PRIME offload is enabled
  nixos/programs/system-tools/default.nix
Due: statix

chore(dankmaterialshell): move dock position to right
  DankMaterialShell/settings.json
Due: none

chore(git): show UTF-8 filenames unescaped in status
  git/config
Due: none

docs(nixos): suppress install-info warnings in system base
  nixos/system/base.nix
Due: statix

chore(dankmaterialshell): enable OSD value display and reposition to top
  DankMaterialShell/settings.json
Due: none

feat(tmux): add tmux as second multiplexer alongside Zellij
  .dotter/global.toml
  fish/abbr.fish
  fish/functions/download_shell_assets.fish
  nixos/programs/terminals/default.nix
  tmux/tmux.conf
  tmux/tmux_theme.conf
Due: statix

style(ghostty): hide window decorations under Niri compositor
  ghostty/config
Due: none

ci(github): shallow clone to fetch-depth 2
  .github/workflows/ci.yml
Due: actionlint

fix(treefmt): remove lazyvim global exclude that blocked stylua formatter
  treefmt.toml
Due: none

refactor(nixos): inline throttled profile into hardware/cpu.nix
  nixos/hardware/cpu.nix
  nixos/hosts/narnia/configuration.nix
  nixos/profiles/throttled.nix
Due: statix

feat(tmux): add scroll/search docs and PageUp keybinding
  tmux/tmux.conf
Due: none

Path conditions:
  actionlint: any of: ^\.github/workflows/
  statix: any of: \.nix$
  rubocop: any of: \.rb$
