Repository mimame/.dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, statix, rubocop

actionlint:
  name: actionlint
  language: system
  entry: actionlint

statix:
  name: statix
  language: system
  entry: statix fix
  pass_filenames: false

rubocop:
  name: rubocop
  language: system
  entry: rubocop
  require_serial: true

fix(nixos): remove redundant nixpkgs.config definition in narnia
  nixos/hosts/narnia/configuration.nix
Due: statix

refactor: remove gammastep and swayidle in favor of dms-shell
  .dotter/global.toml
  gammastep/config.ini
  nixos/desktops/niri/default.nix
  nixos/hardware/time.nix
Due: statix

feat(dms): integrate dsearch and pin quickshell to unstable
  nixos/desktops/dms-shell/default.nix
Due: statix

feat(nixos): switch to power-profiles-daemon for power management
  nixos/hardware/cpu.nix
Due: statix

refactor(nixos): remove standalone applets in favor of dms-shell
  nixos/hardware/bluetooth.nix
  nixos/hardware/networking.nix
  nixos/hardware/time.nix
  nixos/profiles/laptop.nix
Due: statix

style(nixos): refactor laptop profile to avoid repeated keys
  nixos/profiles/laptop.nix
Due: statix

chore(nixos): cleanup deprecated configs post-DMS migration
  .dotter/global.toml
  i3status-rust/config.toml
  nixos/desktops/apps/clipboard.nix
  nixos/desktops/base.nix
  nixos/desktops/niri/default.nix
Due: statix

feat(zed): enable comment extension auto-installation
  zed/settings.json
Due: none

ci(pre-commit): refine statix hooks and document full-scan logic
  .pre-commit-config.yaml
Due: none

ci(github): remove redundant statix check
  .github/workflows/ci.yml
Due: actionlint

style(dms): update monospace font to Hack Nerd Font Mono
  DankMaterialShell/settings.json
Due: none

feat(nixos): add and document security tools
  nixos/programs/security/default.nix
Due: statix

feat(danksearch): add configuration and register in dotter
  .dotter/global.toml
  danksearch/config.toml
Due: none

perf(nixos): tune zram swap and document settings
  nixos/system/base.nix
Due: statix

feat(nixos): enable nix-index
  nixos/core/nix-config.nix
Due: statix

fix(nixos): increase laptop idle timeout to 20 minutes
  nixos/profiles/laptop.nix
Due: statix

perf(nixos): increase swappiness for zram optimization
  nixos/core/boot.nix
Due: statix

perf(nixos): enable tmpfs for /tmp
  nixos/core/boot.nix
Due: statix

perf(nixos): optimize btrfs mount options and documentation
  nixos/system/btrfs.nix
Due: statix

docs(nixos): refine nix-direnv exclusion comment in lix overlay
  nixos/core/lix.nix
Due: statix

fix(nixos): correct intel module name in commented blacklist
  nixos/hardware/graphics.nix
Due: statix

perf(fish): optimize abbreviation caching logic
  fish/config.fish
Due: none

perf(fish): optimize broken service check with generation caching
  fish/functions/fix_broken_services_by_nixos.fish
Due: none

chore(dotter): update vifm config to use symbolic link
  .dotter/global.toml
Due: none

fix(nixos): resolve package collisions in language modules
  nixos/programs/languages/go.nix
  nixos/programs/languages/json.nix
  nixos/programs/languages/nix.nix
Due: statix

perf(nixos): optimize kernel scheduler and network stack
  nixos/core/boot.nix
Due: statix

perf(nixos): enable systemd-oomd and optimize shutdown timeout
  nixos/system/base.nix
Due: statix

perf(nixos): optimize btrfs mount options for SSD/NVMe
  nixos/system/btrfs.nix
Due: statix

perf(nixos): enable Intel GuC/HuC firmware loading
  nixos/hardware/graphics.nix
Due: statix

feat(nixos): implement systemd user service self-healing
  nixos/system/base.nix
Due: statix

refactor(fish): modularize configuration and optimize startup
  fish/config.fish
  fish/functions/bootstrap_fisher.fish
  fish/functions/cf.fish
  fish/functions/clean_old_plugins.fish
  fish/functions/download_shell_assets.fish
  fish/functions/fix_broken_services_by_nixos.fish
  fish/functions/install_completion.fish
  fish/functions/setup_ssh_agent.fish
  fish/functions/source_transient.fish
  fish/variables.fish
Due: none

fix(fish): ensure ssh keys are loaded unconditionally
  fish/config.fish
  fish/functions/setup_ssh_agent.fish
Due: none

perf(fish): enhance cache invalidation in source_transient
  fish/functions/source_transient.fish
Due: none

refactor(fish): optimize normalize_string to prioritize iconv
  fish/functions/normalize_string.fish
Due: none

feat(ghostty): optimize configuration for high visibility and disable ligatures
  ghostty/config
Due: none

fix(nixos): add source-sans and document font renaming
  nixos/system/fonts.nix
Due: statix

chore(devdocs): update documentation sources and versions
  devdocs/devdocs.json
Due: none

perf(nixos): optimize laptop power management timers
  nixos/profiles/laptop.nix
Due: statix

fix(ssh): prioritize host-specific config over global defaults
  ssh/config
Due: none

fix(fish): ensure fisher bootstrap streams to stdout
  fish/functions/bootstrap_fisher.fish
Due: none

Path conditions:
  actionlint: any of: ^\.github/workflows/
  statix: any of: \.nix$
  rubocop: any of: \.rb$
