Repository mimame/.dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, statix, rubocop

.pre-commit-config.yaml:

# prek Configuration: A fast pre-commit hook manager written in Rust.
# This file defines the hooks that run before each commit to ensure code quality and security.

# Stop execution immediately if any hook fails.
fail_fast: true

repos:
  # Built-in hooks provided natively by prek.
  # These are optimized for speed as they are implemented directly in the prek framework.
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: fix-byte-order-marker
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-xml
      - id: mixed-line-ending
      - id: check-symlinks
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict
      # - id: no-commit-to-branch # Disabled: Direct commits to main are standard in this dotfiles repo
      - id: check-executables-have-shebangs

  # Local hooks targeting system-installed tools.
  # These hooks run specific binaries available in the environment (e.g., via shell.nix).
  - repo: local
    hooks:
      # Semantic commit message linter.
      - id: commitlint
        name: commitlint
        language: system
        entry: commitlint --edit
        stages: [commit-msg]

      # Unified formatter pass using treefmt.
      # Fixes a 10s delay:
      # - Conflict: Prek captures output via pipes, but TERM indicates a smart TTY.
      # - Bug: treefmt hangs waiting for TTY initialization/response.
      # - Fix: TERM=dumb forces basic mode, skipping the timeout-prone TTY check.
      - id: treefmt
        name: treefmt
        language: system
        entry: env TERM=dumb treefmt
        require_serial: true

      # GitHub Actions workflow linter.
      - id: actionlint
        name: actionlint
        language: system
        entry: actionlint
        files: ^\.github/workflows/

      # Nix linter and anti-pattern finder.
      - id: statix
        name: statix
        language: system
        entry: statix fix
        files: \.nix$
        pass_filenames: false

      # Ruby linter and formatter.
      - id: rubocop
        name: rubocop
        language: system
        entry: rubocop
        files: \.rb$
        require_serial: true

      # Fast secret scanning for generic high-entropy strings.
      - id: ripsecrets
        name: ripsecrets
        language: system
        entry: ripsecrets

      # Comprehensive secret scanning with service-specific rules.
      # Optimized to only scan staged changes for performance.
      - id: gitleaks
        name: gitleaks
        language: system
        entry: gitleaks protect --staged --verbose --redact
        pass_filenames: false

ci(github): add magic-nix-cache-action to workflow
  .github/workflows/ci.yml
Due: actionlint

refactor(desktop): remove legacy XDG autostart setting
  nixos/desktops/base.nix
Due: statix

refactor(nix): align Nix resource settings with official defaults
  nixos/core/nix-config.nix
Due: statix

refactor(gnome): modernize GNOME layer and remove X11 dependencies
  nixos/desktops/gnome_layer.nix
Due: statix

feat(config): update atuin configuration with new features and settings
  atuin/config.toml
Due: none

feat(nixos): add throttled profile for Intel CPU power management
  nixos/hosts/narnia/configuration.nix
  nixos/profiles/throttled.nix
Due: statix

refactor(bluetooth): migrate WirePlumber config to SPA-JSON format
  nixos/hardware/bluetooth.nix
Due: statix

feat(nixos): implement declarative power management and thermal tuning
  nixos/hosts/narnia/configuration.nix
  nixos/hosts/narnia/cpu.nix
  nixos/profiles/power-management.nix
Due: statix

perf(narnia): limit build parallelism to improve thermal stability
  nixos/hosts/narnia/cpu.nix
Due: statix

refactor(nixos): modernize XKB and console keyboard configuration
  nixos/hosts/narnia/configuration.nix
  nixos/system/base.nix
Due: statix

chore(nix): update nixfmt documentation and add system utilities
  nixos/programs/languages/nix.nix
  nixos/programs/system-tools/default.nix
Due: statix

fix(nixos): resolve udiskie notification errors
  nixos/desktops/niri/default.nix
  nixos/programs/system-tools/default.nix
Due: statix

fix(nixos): improve USB stability and networking reliability
  nixos/hosts/narnia/configuration.nix
Due: statix

fix(nixos): disable kernel-level IPv6 RA acceptance
  nixos/hardware/networking.nix
Due: statix

fix(bluetooth): disable unstable BAP profile
  nixos/hardware/bluetooth.nix
Due: statix

docs(readme): update editor roles and add dracula theme rationale
  README.md
Due: none

refactor(yazi): modernize configuration and migrate to new template system
  yazi/keymap.toml
  yazi/package.toml
  yazi/yazi.toml
Due: none

feat(rg): enable path sorting and add nushell type
  ripgrep/ripgreprc
Due: none

feat(topgrade): add yazi plugin upgrade command
  topgrade/topgrade.toml
Due: none

chore(lazyvim): remove legacy LazyVim configuration
  .dotter/global.toml
  lazyvim/.neoconf.json
  lazyvim/LICENSE
  lazyvim/README.md
  lazyvim/init.lua
  lazyvim/lua/config/autocmds.lua
  lazyvim/lua/config/keymaps.lua
  lazyvim/lua/config/lazy.lua
  lazyvim/lua/config/options.lua
  lazyvim/lua/plugins/autosave.lua
  lazyvim/lua/plugins/blink-cmp.lua
  lazyvim/lua/plugins/dracula.lua
  lazyvim/lua/plugins/neo-tree.lua
  lazyvim/lua/plugins/obsidian.lua
  lazyvim/lua/plugins/which-key.lua
  lazyvim/stylua.toml
Due: none

feat(fish): add lrg function for unified log searching
  fish/functions/lrg.fish
Due: none

fix(nixos): disable kernel-level IPv6 autoconfiguration
  nixos/hardware/networking.nix
Due: statix

fix(nixos): refine NVIDIA sleep services and memory path
  nixos/hosts/narnia/nvidia.nix
Due: statix

fix(nixos): improve NVIDIA suspend/resume service ordering
  nixos/hosts/narnia/nvidia.nix
Due: statix

fix(nixos): disable irqbalance to resolve permission denied errors
  nixos/hosts/narnia/cpu.nix
Due: statix

fix(nixos): resolve i915 GuC compatibility issues on Coffee Lake
  nixos/hardware/graphics.nix
Due: statix

fix(narnia): harden EFI security and document USB hardware fault
  nixos/hosts/narnia/configuration.nix
  nixos/hosts/narnia/hardware-configuration.nix
Due: statix

feat(nixos): enable suspend-then-hibernate on AC power
  nixos/profiles/laptop.nix
Due: statix

fix(nixos): make package diff activation script more robust
  nixos/hosts/narnia/configuration.nix
Due: statix

fix(nix): isolate Ruby environment to prevent version mismatches
  .gitignore
  shell.nix
Due: statix

feat(fish): add system log abbreviations
  fish/abbr.fish
Due: none

refactor(mimeapps): rewrite update-mimeapps from Ruby to Go
  .pre-commit-config.yaml
  bin/update-mimeapps
  bin/update-mimeapps.rb
  bin/upgrade-mimeapps/.gitignore
  bin/upgrade-mimeapps/go.mod
  bin/upgrade-mimeapps/go.sum
  bin/upgrade-mimeapps/main.go
  shell.nix
  treefmt.toml
Due: statix, rubocop

chore(fish): remove neovim abbreviations and config shortcut
  fish/abbr.fish
Due: none

fix(upgrade-mimeapps): fix go build and path resolution
  bin/update-mimeapps
  bin/upgrade-mimeapps/main.go
Due: none

refactor(nixos): extract nixpkgs config to core/nixpkgs.nix
  nixos/core/nixpkgs.nix
  nixos/hosts/narnia/configuration.nix
Due: statix

fix(nixos): move dms service start limits to unitConfig
  nixos/desktops/dms-shell/default.nix
Due: statix

refactor(nixos): isolate host-specific hardware quirks
  nixos/hardware/bluetooth.nix
  nixos/hardware/graphics.nix
  nixos/hosts/narnia/configuration.nix
  nixos/hosts/narnia/hardware.nix
  nixos/system/base.nix
Due: statix

fix(nixos): explicitly register session package for GDM
  nixos/desktops/niri/default.nix
Due: statix

fix(nixos): disable IPv6 RA to silence networking log spam
  nixos/hosts/narnia/configuration.nix
  nixos/hosts/narnia/networking.nix
Due: statix

feat(nixos): replace logind idle with activity-aware autosuspend
  nixos/profiles/laptop.nix
Due: statix
