Repository mimame/.dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, statix, rubocop

actionlint:
  name: actionlint
  language: system
  entry: actionlint

statix:
  name: statix
  language: system
  entry: statix fix
  pass_filenames: false

rubocop:
  name: rubocop
  language: system
  entry: rubocop
  require_serial: true

refactor(dotter): modularize global configuration by platform
  .dotter/global.toml
Due: none

refactor(fish): modularize shell configuration by platform
  fish/abbr.fish
  fish/config.fish
  fish/platform.fish
Due: none

fix(niri): resolve KDL parsing error in environment configuration
  niri/config.kdl
Due: none

chore(dms): update settings schema for new release
  DankMaterialShell/settings.json
Due: none

chore(pre-commit): exclude DMS settings from end-of-file-fixer
  .pre-commit-config.yaml
Due: none

chore(treefmt): exclude DMS settings from jsonfmt
  treefmt.toml
Due: none

refactor(dms): remove redundant default configuration
  nixos/desktops/dms-shell/default.nix
Due: statix

refactor(fish): use dynamic pathing and ensure helper availability
  fish/abbr.fish
Due: none

refactor(fish): finalize dynamic pathing in abbreviations
  fish/abbr.fish
Due: none

refactor(aerospace): remove wezterm auto-workspace rule
  aerospace/aerospace.toml
Due: none

refactor(beets): remove acousticbrainz plugin
  beets/config.yaml
Due: none

fix(firefox): disable webrender layer-compositor
  firefox/user.js
Due: none

feat(git): implement conditional personal and professional profiles
  .gitignore
  git/config
Due: none

feat(fish): automate Yazi plugin synchronization
  fish/functions/y.fish
Due: none

feat(yazi): add ripdrag keybinding for drag-and-drop
  yazi/keymap.toml
Due: none

refactor(ghostty): disable clipboard-paste-protection
  ghostty/config
Due: none

feat(nushell): automate Yazi plugin synchronization
  nushell/functions/y.nu
Due: none

refactor(bin): enhance MIME association generation and prioritization
  bin/update-mimeapps.rb
Due: rubocop

refactor(fish): use dynamic pathing for configuration files
  fish/abbr.fish
  fish/config.fish
  fish/functions/bootstrap_fisher.fish
  fish/functions/clean_old_plugins.fish
  fish/functions/download_shell_assets.fish
  fish/functions/install_completion.fish
  fish/functions/source_transient.fish
  fish/functions/y.fish
  fish/variables.fish
Due: none

refactor(nushell): use dynamic pathing for configuration files
  nushell/config.nu
  nushell/env.nu
  nushell/functions/y.nu
Due: none

docs(bin): document rationale for MIME association prioritization
  bin/update-mimeapps.rb
Due: rubocop

refactor(git): centralize universal ignore patterns
  git/gitignore_global
Due: none

refactor(git): remove redundant patterns from .gitignore
  .gitignore
Due: none

feat(dms): implement self-healing systemd configuration
  nixos/desktops/dms-shell/default.nix
Due: statix

docs: remove first-person plural pronouns from comments
  .github/workflows/ci.yml
  atuin/config.toml
  bin/update-mimeapps.rb
  fish/config.fish
  fish/functions/bb.fish
  fish/functions/bootstrap_fisher.fish
  fish/functions/get.fish
  fish/functions/git_cd.fish
  fish/functions/o.fish
  fish/functions/setup_ssh_agent.fish
  fish/variables.fish
  niri/config.kdl
  nixos/configuration.nix
  nixos/desktops/gnome_layer.nix
  nixos/hardware/networking.nix
  nixos/programs/borgmatic-backup.nix
  nixos/system/base.nix
  nushell/env.nu
Due: actionlint, statix, rubocop

feat(niri): add explicit portal configuration and documentation
  nixos/desktops/niri/default.nix
Due: statix

feat(nixos): configure explicit portal backend for Niri
  nixos/desktops/gnome_layer.nix
Due: statix

refactor(ghostty): disable built-in auto-updates
  ghostty/config
Due: none

fix(nixos): replace removed nodePackages with direct package references
  nixos/programs/languages/bash.nix
  nixos/programs/languages/node.nix
Due: statix

refactor(fish): enhance edit_config and simplify configuration paths
  fish/abbr.fish
Due: none

refactor(ghostty): unify configuration management across platforms
  .dotter/global.toml
  fish/functions/download_shell_assets.fish
Due: none

refactor(fish): implement XDG standard path compliance
  fish/abbr.fish
  fish/functions/download_shell_assets.fish
  fish/variables.fish
Due: none

refactor(nushell): implement XDG standard path compliance
  nushell/env.nu
Due: none

feat(nushell): add download_assets function for shell initialization
  nushell/functions/download_assets.nu
Due: none

refactor(nushell): implement automated asset management and refine paths
  nushell/config.nu
  nushell/functions/download_assets.nu
Due: none

fix(ghostty): use 'off' instead of 'false' for auto-update
  ghostty/config
Due: none

refactor(nixos): move CPU configuration to host-specific modules
  nixos/hardware/cpu.nix
  nixos/hosts/narnia/configuration.nix
  nixos/hosts/narnia/cpu.nix
Due: statix

refactor(nixos): migrate NVIDIA configuration to host-specific modules
  nixos/hardware/nvidia-wrappers.nix
  nixos/hardware/nvidia.nix
  nixos/hosts/narnia/configuration.nix
  nixos/hosts/narnia/nvidia-wrappers.nix
  nixos/hosts/narnia/nvidia.nix
Due: statix

refactor(nixos): clean up core modules and implement host-specific boot tuning
  nixos/core/boot.nix
  nixos/core/firmware.nix
  nixos/core/lix.nix
  nixos/core/nix-config.nix
  nixos/core/posix-compatibility.nix
  nixos/hosts/narnia/configuration.nix
Due: statix

refactor(nixos): remove GPU-accelerated apps from generic desktop lists
  nixos/desktops/apps/browsers.nix
  nixos/desktops/apps/development.nix
  nixos/desktops/apps/media.nix
Due: statix

Path conditions:
  actionlint: any of: ^\.github/workflows/
  statix: any of: \.nix$
  rubocop: any of: \.rb$
