Repository mimame/.dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, statix, rubocop

actionlint:
  name: actionlint
  language: system
  entry: actionlint

statix:
  name: statix
  language: system
  entry: statix fix
  pass_filenames: false

rubocop:
  name: rubocop
  language: system
  entry: rubocop
  require_serial: true

fix(fish): pass selection placeholder to television preview in bb
  fish/functions/bb.fish
Due: none

feat(newsboat): add gg and ge navigation bindings
  newsboat/config
Due: none

feat(broot): add helix-style goto navigation verbs
  broot/conf.toml
Due: none

refactor(bin): use fish/variables.fish in ssh-signing-wrapper
  bin/ssh-signing-wrapper
Due: none

feat(zathura): add ge navigation mapping
  zathura/zathurarc
Due: none

feat(yazi): comprehensive Helix alignment and configuration fix
  yazi/keymap.toml
  yazi/yazi.toml
Due: none

feat(yazi): align Helix workflow, optimize ouch previews and fast opening
  bin/ouch
  yazi/init.lua
  yazi/keymap.toml
  yazi/package.toml
  yazi/yazi.toml
Due: none

style(yazi): optimize TOML formatting for one-entry-per-line keymaps
  taplo.toml
  yazi/keymap.toml
Due: none

feat(helix): optimize cross-platform system clipboard integration
  helix/config.toml
Due: none

feat(zed): switch from Vim to Helix modal editing mode
  zed/settings.json
Due: none

feat(vscode): switch from Vim to Helix emulation
  vscode/settings.json
Due: none

feat(fish): update nixosrc to use sudo nixos-rebuild switch
  fish/abbr.fish
Due: none

feat(firefox): add comprehensive Betterfox-based user.js configuration
  firefox/user.js
Due: none

fix(niri): correct external monitor output name
  niri/config.kdl
Due: none

feat(niri): optimize external monitor resolution and scaling
  niri/config.kdl
Due: none

feat(ghostty): update configuration to version 1.3
  ghostty/config
Due: none

docs(ci): improve force-push robustness and document workflow design
  .github/workflows/ci.yml
Due: actionlint

feat(nixos): optimize sudo-rs configuration for session-wide authentication
  nixos/system/base.nix
Due: statix

feat(helix): optimize ergonomics and unify admin actions under leader
  helix/config.toml
Due: none

refactor(helix): remove redundant default configuration and keybindings
  helix/config.toml
Due: none

feat(nixos): switch to standard sudo for session-wide authentication
  nixos/hardware/networking.nix
  nixos/system/base.nix
Due: statix

refactor(nixos): centralize and unify unstable nixpkgs source
  nixos/hosts/narnia/configuration.nix
  nixos/variables.nix
Due: statix

refactor(nixos): remove duplicated runXdgAutostartIfNone from niri module
  nixos/desktops/niri/default.nix
Due: statix

style(lazygit): switch to Dracula theme
  lazygit/config.yml
Due: none

chore(treefmt): remove redundant wezterm configuration
  treefmt.toml
Due: none

chore(niri): remove redundant wezterm window rule
  niri/config.kdl
Due: none

docs(README): simplify and update editors list
  README.md
Due: none

feat(fish): add Ctrl+Z toggle to resume backgrounded processes
  fish/functions/fish_hybrid_key_bindings.fish
Due: none

style: apply consistent array and whitespace formatting across configs
  .dotter/global.toml
  .dotter/local.toml
  aerospace/aerospace.toml
  atuin/config.toml
  broot/conf.toml
  helix/languages.toml
  television/config.toml
  topgrade/topgrade.toml
  yazi/yazi.toml
Due: none

feat(helix): add lazygit integration and refine leader mappings
  helix/config.toml
Due: none

refactor(git): modernize and organize global gitignore
  git/.gitignore_global
  git/gitignore_global
Due: none

refactor(nixos): remove redundant and unused packages across modules
  nixos/hardware/nvidia.nix
  nixos/programs/languages/default.nix
  nixos/programs/languages/misc.nix
  nixos/programs/languages/nix.nix
  nixos/programs/media/default.nix
Due: statix

feat(nixos): add scooter to file management tools
  nixos/programs/file-management/default.nix
Due: statix

feat(broot): overhaul configuration for modal editing and Dracula theme
  broot/conf.toml
Due: none

feat(nixos): add language servers and formatting tools
  nixos/programs/languages/crystal.nix
  nixos/programs/languages/jvm.nix
  nixos/programs/languages/markdown.nix
  nixos/programs/languages/nim.nix
  nixos/programs/languages/protobuf.nix
  nixos/programs/languages/ruby.nix
  nixos/programs/misc/default.nix
Due: statix

style(helix): switch theme to catppuccin_mocha
  helix/config.toml
Due: none

refactor(nixos): remove nix-alien from posix compatibility layer
  nixos/core/posix-compatibility.nix
Due: statix

feat(nixos): replace libreoffice with onlyoffice
  nixos/programs/documents/default.nix
Due: statix

feat(mime): update default applications to ONLYOFFICE
  mimeapps/defaults.yaml
  mimeapps/mimeapps.list
Due: none

refactor(git): remove GPG migration script in favor of SSH signing
  bin/gpg-migration
Due: none

Path conditions:
  actionlint: any of: ^\.github/workflows/
  statix: any of: \.nix$
  rubocop: any of: \.rb$
