Repository mimame/.dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, statix, rubocop

actionlint:
  name: actionlint
  language: system
  entry: actionlint

statix:
  name: statix
  language: system
  entry: statix fix
  pass_filenames: false

rubocop:
  name: rubocop
  language: system
  entry: rubocop
  require_serial: true

fix(fish): robust source_transient and early path setup
  fish/functions/source_transient.fish
  fish/variables.fish
Due: none

fix(fish): support intel macs and improve transient caching
  fish/config.fish
  fish/variables.fish
Due: none

fix(fish): resolve bootstrap errors and broken enter key
  fish/abbr.fish
  fish/config.fish
  fish/functions/bootstrap_fisher.fish
  fish/functions/clean_old_plugins.fish
  fish/functions/get.fish
  fish/functions/source_transient.fish
  fish/variables.fish
Due: none

ci: robust commit range determination for force-pushes
  .github/workflows/ci.yml
Due: actionlint

chore(fd): organize and expand ignore patterns
  fd/ignore
Due: none

chore(ripgrep): restructure config and add file types
  ripgrep/ripgreprc
Due: none

feat(nixos): adopt Maple Mono and optimize font rendering
  nixos/system/fonts.nix
Due: statix

feat(ghostty): adopt Maple Mono as primary font
  ghostty/config
Due: none

feat(dankmaterialshell): adopt Maple Mono with JetBrains fallback
  DankMaterialShell/settings.json
Due: none

feat(kitty): adopt Maple Mono as primary font
  kitty/kitty.conf
Due: none

feat(zed): adopt Maple Mono as primary font
  zed/settings.json
Due: none

feat(vscode): adopt Maple Mono with JetBrains fallback
  vscode/settings.json
Due: none

chore(nixos): update font references in desktop comments
  nixos/desktops/base.nix
Due: statix

feat(nixos): adopt Maple Mono for GNOME interface fonts
  nixos/desktops/gnome_layer.nix
Due: statix

feat(nixos): adopt Maple Mono for kmscon
  nixos/system/base.nix
Due: statix

feat(zathura): adopt Maple Mono as primary font
  zathura/zathurarc
Due: none

feat(brew): add Maple Mono Nerd Font
  brew/Brewfile
Due: none

fix(brew): switch to 'font-maple-mono-nl-nf' cask
  brew/Brewfile
Due: none

feat(ssh): optimize client performance and update identity file
  ssh/config
Due: none

feat(nixos): enable and harden OpenSSH configuration
  nixos/hardware/networking.nix
Due: statix

feat(newsboat): modernize and migrate configuration
  .dotter/global.toml
  newsboat/.config/newsboat/config
  newsboat/.config/newsboat/notification
  newsboat/.config/newsboat/urls
  newsboat/config
Due: none

feat(zed): enable github-copilot extension
  zed/settings.json
Due: none

feat(zed): configure copilot_chat as inline assistant model
  zed/settings.json
Due: none

fix(nixos): resolve nixd warnings and clean up unused arguments
  nixos/configuration.nix
  nixos/core/posix-compatibility.nix
  nixos/desktops/base.nix
  nixos/desktops/cosmic/default.nix
  nixos/desktops/niri/default.nix
  nixos/hardware/graphics.nix
  nixos/hardware/networking.nix
  nixos/hosts/narnia/hardware-configuration.nix
  nixos/programs/borgmatic-backup.nix
  nixos/programs/databases.nix
  nixos/programs/default.nix
  nixos/programs/virtualisation.nix
  nixos/system/base.nix
  nixos/system/btrfs.nix
  nixos/users/mimame/default.nix
  nixos/variables.nix
Due: statix

fix(fish): improve transient cache invalidation for Nix
  fish/functions/source_transient.fish
Due: none

refactor(fish): use 'path resolve' builtin for portability
  fish/functions/source_transient.fish
Due: none

feat(fish): add newsboat abbreviations and config shortcut
  fish/abbr.fish
Due: none

fix(nixos): resolve repeated SSH passphrase prompts by centralizing on system agent
  fish/functions/setup_ssh_agent.fish
  nixos/desktops/gnome_layer.nix
  nixos/hardware/networking.nix
Due: statix

feat(nixos): add modern 7-zip (7zz) package and fish alias
  fish/abbr.fish
  nixos/programs/misc/default.nix
Due: statix

fix(ssh): use fixed systemd socket path to prevent repeated prompts
  fish/functions/setup_ssh_agent.fish
  nixos/hardware/networking.nix
Due: statix

feat(dms): set AC suspend timeout to 10 minutes
  DankMaterialShell/settings.json
Due: none

refactor(ssh): improve platform detection and agent inheritance
  fish/config.fish
  fish/functions/setup_ssh_agent.fish
Due: none

refactor(fish): centralize platform identification and standardize NixOS detection
  fish/config.fish
  fish/functions/cb.fish
  fish/functions/ff.fish
  fish/functions/fish_command_not_found.fish
  fish/functions/iso.fish
  fish/functions/o.fish
  fish/functions/pdfc.fish
  fish/functions/setup_ssh_agent.fish
  fish/variables.fish
Due: none

fix(ssh): resolve 'Connection refused' error in NixOS agent setup
  fish/functions/setup_ssh_agent.fish
Due: none

feat(fish): upgrade to unstable (4.x) and modernize scripts
  fish/functions/bb.fish
  fish/functions/o.fish
  fish/variables.fish
  nixos/system/base.nix
  nixos/users/mimame/default.nix
Due: statix

feat(mime): set Zed as default markdown editor and refresh associations
  mimeapps/defaults.yaml
  mimeapps/mimeapps.list
Due: none

perf(mime): optimize update script and improve check utility
  bin/check-mimeapps
  bin/update-mimeapps.rb
  mimeapps/mimeapps.list
Due: rubocop

feat(starship): modernize layout, icons, and information density
  starship/starship.toml
Due: none

perf(mime): optimize check utility and refine associations
  bin/check-mimeapps
  mimeapps/defaults.yaml
  mimeapps/mimeapps.list
Due: none

feat(mime): prioritize gio open across tools and document system
  README.md
  broot/conf.toml
  fish/functions/o.fish
  yazi/yazi.toml
Due: none

Path conditions:
  actionlint: any of: ^\.github/workflows/
  statix: any of: \.nix$
  rubocop: any of: \.rb$
